{% extends 'base.html.twig' %}
{% block body %}

<h1>{{ title }}</h1>
Bem vindo ao nosso Site!

<ul>

    {# Este é o laço de usuários #}
    
    {%  for user in users %}

        <li>Nome: {{ user.name }} - phone: {{ user.phone }}</li>
        
    {% endfor %} 


</ul>
{% endblock %}